<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Westpole Electronic Inc.</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<script src="/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	
	<script>

	$(document).ready(function() {
		window.location.href="http://toc.westpole.biz"
	});
	</script>
	
</head>
<body></body>
</html>