<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- begin #footer -->
<div id="footer" class="footer">
    <div class="container">
        <p>
            &copy; Copyright 2020. <a href="/">Westpole Electronic Inc.</a> All rights reserved.
        </p>
    </div>
</div>

<script>    
    $(document).ready(function() {
        App.init();
        
    });
    
    function movePage(uri, queryString) {
		location.href = uri + queryString;
	}
</script>
<!-- end #footer -->