<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- begin #header -->
 <div id="header" class="header navbar navbar-default navbar-fixed-top">
     <!-- begin container -->
     <div class="container">
         <!-- begin navbar-header -->
         <div class="navbar-header">
             <a href="/" class="navbar-brand">
                 <!--<span class="brand-logo"></span>-->
                 <img th:src="@{/assets/img/wp-logo.png}" style="width:40px; height:36px;float:left;margin-right: 10px; margin-top:-6px;" />
                 <span class="brand-text">
                     Westpole Electronic Inc.
                 </span>
             </a>
         </div>
         <!-- end navbar-header -->
         <!-- begin navbar-collapse -->
         <div class="collapse navbar-collapse" id="header-navbar">
             <ul class="nav navbar-nav navbar-right">
                 <li><a href="/">HOME</a></li>
                 <li><a href="/#about">ABOUT</a></li>
                 <li><a href="/#work">WORK</a></li>
                 <li><a href="/#client">CLIENT</a></li>
                 <li><a href="/login" target="_blank">WEMS™ TOC</a></li>
                 <li><a href="/board/list">BOARD</a></li>
                 <li><a href="/#contact">CONTACT</a></li>
             </ul>
         </div>
         <!-- end navbar-collapse -->
     </div>
     <!-- end container -->
 </div>
 <!-- end #header -->